.optionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonSection {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttonSection button:first-child {
  background-color: #18b158;
}

.buttonSection button:nth-child(2) {
  background-color: #e0bc2b;
}

.buttonSection button:nth-child(3) {
  background-color: #d14836;
}
.resetButton {
  position: fixed;
  right: 28%;
  opacity: 25%;
}

button:hover {
  box-shadow: 0 0 12px sienna;
}
button:focus,
button:focus-visible {
  outline: 4px auto sienna;
}
